<style>
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
</style>

<div ng-if="loading">Loading...</div>

<div ng-if="ps.players.length > 0 && !loading">
	
		<div ng-repeat="player in ps.players" class="card">
			<div class="panel panel-default">
				<div ng-if="ps.players.length > 1">
					<div class="panel-heading">
						<h2><a href="player/{{player.player_id}}">{{player.name}}</a> ({{player.elo}})</h2>
					</div>
				</div>
				<player-details ng-if="ps.players.length == 1" player="player"></player-details>
			</div>
		</div>
</div>
