<div class="modal" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
            	<button type="button" class="pull-right close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Matchup Details</h4>
                
            </div>
            <!--Body-->
            <div class="modal-body">
                <table class="table table-responsive table-stripped">
                
                	<tr ng-repeat="match in matches">
                		<td>
                			<span ng-if="match.player_1_id == match.winner_id">
                			<b>(W)</b>
                			</span>
                			<a href="player/{{match.player_1_id}}" onclick="$('.modal-backdrop').remove();">{{match.player_1}}</a>
                			<span style="font-size:10px">({{match.player_1_elo}})</span>
							<br/>
                			<span ng-if="match.player_1_id == match.winner_id">
                				{{match.winner_faction}} <i>{{match.winner_agenda}}</i>
                			</span>
							<span ng-if="match.player_1_id == match.loser_id">
                				{{match.loser_faction}} <i>{{match.loser_agenda}}</i>
                			</span>
                		</td>
                		<td>
                			<span ng-if="match.player_2_id == match.winner_id">
                			<b>(W)</b>
                			</span>
                			<a href="player/{{match.player_2_id}}" onclick="$('.modal-backdrop').remove();">{{match.player_2}}</a>
                			<span style="font-size:10px">({{match.player_2_elo}})</span>
                			<br/>
							<span ng-if="match.player_2_id == match.winner_id">
                				{{match.winner_faction}} <i>{{match.winner_agenda}}</i>
                			</span>
							<span ng-if="match.player_2_id == match.loser_id">
                				{{match.loser_faction}} <i>{{match.loser_agenda}}</i>
                			</span>
                		</td>
                	</tr>
                
                </table>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>