<style>
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
</style>


<div class="panel panel-default">
  <div class="panel-body center-block text-center">
	<form class="form-inline">
	  <div class="form-group">
	      <input type="text" class="form-control" id="playerSearch" name="name" placeholder="Player Name" ng-model="search_str" />
	  </div>
	  <button ng-click="searchPlayer()" class="btn btn-primary">Search</button>
	</form>
  </div>
</div>


<div ng-if="loading">Loading...</div>

<div ng-if="players.length > 0 && !loading">

	<div class="panel panel-default">
		<div ng-repeat="player in players">
			<div class="panel-heading">
				<h3 class="panel-title"><a href="#!/player/{{player.player_id}}">{{player.name}}</a> ({{player.elo}})</h3>
	  		</div>
		  	<div class="panel-body">
		   		<div class="row">
		   			<div class="col-xs-6 col-md-3">
		   				<div class="col-xs-12"><b>Entries</b></div>
		   				<div class="col-xs-12">{{player.entries}}</div>
		   			</div>
					<div class="col-xs-6 col-md-3">
		   				<div class="col-xs-12"><b>Win</b></div>
		   				<div class="col-xs-12">{{player.wins}}</div>
		   			</div>
					<div class="col-xs-6 col-md-3">
		   				<div class="col-xs-12"><b>Loss</b></div>
		   				<div class="col-xs-12">{{player.losses}}</div>
		   			</div>
					<div class="col-xs-6 col-md-3">
		   				<div class="col-xs-12"><b>Win%</b></div>
		   				<div class="col-xs-12">{{ ((player.wins/(player.wins+player.losses))*100).toFixed(2) }}%</div>
		   			</div>
		   		</div>
		   		
		   		<div class="row">
		   			<div class="col-xs-12 col-md-6">
		   				<h3>Nemeses</h3>
		   				<table ng-if="player.nemeses.length > 0" class="table table-responsive">
		   					<tr>
		   						<td>Nemesis</td>
		   						<td>Win</td>
		   						<td>Loss</td>
		   					</tr>
		   					<tr ng-repeat="nemesis in player.nemeses">
		   						<td><a href="#!/player/{{nemesis.winner_id}}">{{nemesis.name}} ({{nemesis.elo}})</a></td>
		   						<td>{{nemesis.rounds_played-nemesis.defeats}}
		   						<td>{{nemesis.defeats}}</td>
		   					</tr>
		   				</table>
		   				<i ng-if="player.nemeses.length < 1">Play more matches.  Make more enemies.</i>
		   			</div>
		   			
					<div class="col-xs-12 col-md-6">
		   				<h3>Rivals</h3>
		   				<table ng-if="player.rivals.length > 0" class="table table-responsive">
		   					<tr>
		   						<td>Rival</td>
		   						<td>Win</td>
		   						<td>Loss</td>
		   					</tr>
		   					<tr ng-repeat="rival in player.rivals">
		   						<td><a href="#!/player/{{rival.loser_id}}">{{rival.name}} ({{rival.elo}})</a></td>
		   						<td>{{rival.wins}}
		   						<td>{{rival.rounds_played - rival.wins}}</td>
		   					</tr>
		   				</table>
		   				<i ng-if="player.rivals.length < 1">Play more matches.  BE the enemy.</i>
		   			</div>
		   			
		   		</div>
		   		
		   		<div class="row">
		   			<div class="col-xs-12 text-center">
						<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#collapseTournaments-{{player.player_id}}" aria-expanded="false" aria-controls="collapseExample">
							<span class="if-collapsed">Show Tournaments</span>
	  						<span class="if-not-collapsed">Hide Tournaments</span>
					  	</a>
		   				<div class="collapse text-left" id="collapseTournaments-{{player.player_id}}">
					  		<div class="well">
					  			<div class="row" ng-repeat="t in player.tournaments">
						  			<h3 class="text-left">{{t.name}}</h3>
					    			
									<div class="row">
					    				<div class="col-xs-12">
					    					<b>{{t.entry.faction}} {{t.entry.agenda}}</b><br/>
					    					<span ng-if="t.entry.end_elo > 0 && t.entry.end_elo - t.entry.start_elo > 0" style="color:green">{{t.entry.end_elo - t.entry.start_elo}}</span>
					    					<span ng-if="t.entry.end_elo > 0 && t.entry.end_elo - t.entry.start_elo <= 0"style="color:red">{{t.entry.end_elo - t.entry.start_elo}}</span>
					    					<br/>
					    				</div>
					    			</div>
					    			
									<div class="row">
							   			<div class="col-xs-6 col-md-3">
							   				<div class="col-xs-12"><b>End Elo</b></div>
							   				<div class="col-xs-12">{{t.entry.end_elo}}</div>
							   			</div>
										<div class="col-xs-6 col-md-3">
							   				<div class="col-xs-12"><b>Start Elo</b></div>
							   				<div class="col-xs-12">{{t.entry.start_elo}}</div>
							   			</div>
										<div class="col-xs-6 col-md-3">
							   				<div class="col-xs-12"><b>Players</b></div>
							   				<div class="col-xs-12">{{t.player_count}}</div>
							   			</div>
										<div class="col-xs-6 col-md-3">
							   				<div class="col-xs-12"><b>Date</b></div>
							   				<div class="col-xs-12">{{t.date_end}}</div>
							   			</div>
							   		</div>
							   		
							   		<a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#collapseRounds-{{t.tournament_id}}" aria-expanded="false" aria-controls="collapseExample">
										<span class="if-collapsed">Show Rounds</span>
	  									<span class="if-not-collapsed">Hide Rounds</span>
					  				</a>
		   							<div class="collapse text-left" id="collapseRounds-{{t.tournament_id}}">
							   			<table class="table table-response">
					  					<tr>
					  						<td>Round#</td>
					  						<td>Result</td>
					  						<td>End Eol</td>
					  						<td>Start Eol</td>
					  						<td>Change</td>
					  						<td>Opponent</td>
					  						<td>End Eol</td>
					  						<td>Start Eol</td>
					  						<td>Change</td>
					  					</tr>
					  					<tbody ng-repeat="rt in t.rounds.tournament_rounds">
						  					<tr ng-repeat="r in rt" ng-if="r.winner_id == player.player_id || r.loser_id == player.player_id">
						  						<td>{{r.round_number}}</td>
												<td>
													<span ng-if="r.winner_id == player.player_id" style="color:green">Win</span>
													<span ng-if="r.winner_id != player.player_id" style="color:red">Loss</span>
												</td>
						  						<td>
						  							<span ng-if="r.player_1_id == player.player_id">{{r.player_1_end_elo}}</span>
						  							<span ng-if="r.player_1_id != player.player_id">{{r.player_2_end_elo}}</span>
												</td>
						  						<td>
						  							<span ng-if="r.player_1_id == player.player_id">{{r.player_1_start_elo}}</span>
						  							<span ng-if="r.player_1_id != player.player_id">{{r.player_2_start_elo}}</span>
						  						</td>
						  						<td>
						  							<span ng-if="r.player_1_id == player.player_id">
						  								<span ng-if="r.player_1_end_elo-r.player_1_start_elo > 0" style="color:green">{{r.player_1_end_elo-r.player_1_start_elo}}</span>
						  								<span ng-if="r.player_1_end_elo-r.player_1_start_elo <= 0" style="color:red">{{r.player_1_end_elo-r.player_1_start_elo}}</span>
						  							</span>
													<span ng-if="r.player_2_id == player.player_id">
						  								<span ng-if="r.player_2_end_elo-r.player_2_start_elo > 0" style="color:green">{{r.player_2_end_elo-r.player_2_start_elo}}</span>
						  								<span ng-if="r.player_2_end_elo-r.player_2_start_elo <= 0" style="color:red">{{r.player_2_end_elo-r.player_2_start_elo}}</span>
						  							</span>
						  						</td>
						  						<td>-</td>
												<td>
						  							<span ng-if="r.player_1_id == player.player_id">{{r.player_2_end_elo}}</span>
						  							<span ng-if="r.player_1_id != player.player_id">{{r.player_1_end_elo}}</span>
												</td>
						  						<td>
						  							<span ng-if="r.player_1_id == player.player_id">{{r.player_2_start_elo}}</span>
						  							<span ng-if="r.player_1_id != player.player_id">{{r.player_1_start_elo}}</span>
						  						</td>
						  						<td>
													<span ng-if="r.player_1_id == player.player_id">
						  								<span ng-if="r.player_2_end_elo-r.player_2_start_elo > 0" style="color:green">{{r.player_2_end_elo-r.player_2_start_elo}}</span>
						  								<span ng-if="r.player_2_end_elo-r.player_2_start_elo <= 0" style="color:red">{{r.player_2_end_elo-r.player_2_start_elo}}</span>
						  							</span>
													<span ng-if="r.player_2_id == player.player_id">
						  								<span ng-if="r.player_1_end_elo-r.player_1_start_elo > 0" style="color:green">{{r.player_1_end_elo-r.player_1_start_elo}}</span>
						  								<span ng-if="r.player_1_end_elo-r.player_1_start_elo <= 0" style="color:red">{{r.player_1_end_elo-r.player_1_start_elo}}</span>
						  							</span>
						  						</td>
						  					</tr>
					  					</tbody>
					  					</table>
							   		</div>
					    			
					    			<hr></hr>
				    			</div>
					  		
					  		</div>
					  	</div>
		   			</div>
		   		</div>
		   		
		   		
	 		</div>
	 		<hr></hr>
		</div>
	</div>
</div>
